@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');
$mainRed: #BB0011;
@mixin bulletpoint($size) {
    content:" ";
    display:inline-block;
    border:5px solid $mainRed;
    background-color:$mainRed;
    width:$size;
    height:$size;
    overflow:hidden;
    border-radius:50%;
    position: absolute;
}
body {
  font-family: sans-serif;
  margin:0 0 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
a { 
  text-decoration:none;
  color:$mainRed;
  &:hover {
    text-decoration:underline;
  }
}
ul:not(#tagList) {
  list-style: none;
  margin-left:80px;
  padding-left:15px;
  margin-top:0;
  padding-top:40px;
  margin-bottom:0;
  padding-bottom:40px;
  min-height:100vw;
  border-left:10px solid $mainRed;
}
li {
  position:relative;
  padding-top:0px;
  > span {
    display:inline-block;
    position:absolute;
    left:-110px;
    text-align:right;
    width: 70px;
  }
  h2 {
    display:inline-block;
    padding-top:0; margin-top:0;
    &::before {
        left: calc(-32.5px - 0.0625em);
        top: 0.15em;
        @include bulletpoint(calc(15px + 0.125em));
    }
  }
  h1 {
    display:inline-block; 
    color:#990011;
    padding-top:0; margin-top:0;
    &::before {
        left: calc(-32.5px - 0.125em);
        top: 0.125em;
        @include bulletpoint(calc(15px + 0.25em));
    }
  }
  h3 {
    display:none; position:absolute;
  }
  &.collapsible::before {
    content:"►";
    font-family: "Times New Roman";
    display:inline-block;
    overflow:hidden;
    position: absolute;
    left:-60px;
    top:10px;
  }
  &.collapsible:hover {
    cursor:pointer;
    width: fit-content;
  }
  div {
    &::before {
        @include bulletpoint(15px);
        left:-32.5px;
    }
    display:inline-block;
    h3 { 
        padding-top:0; margin-top:0;
        padding-bottom:2px; margin-bottom:2px;
    }
    p {
        display:inline-block; 
        margin-top:0;
        min-height:3em;
    }
  }
  &.active::before {
    content: "▼";
  }
}

.content {
  display:none;
}

input[type="text"] {
  background-color: #f9f3f4;
  border: 2px solid $mainRed;
  border-radius: 5px;
  font-size: 16px;
  width:50%;
  margin: 5px 20px;
}

#searchTag {
  margin-bottom:0px;
}
#searchTag:focus, #search:focus {
  outline: none;
  border: 3px solid $mainRed;
}
#tagList {
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  margin: -1px;
  padding: 0 10px 0 10px;
  border: 3px solid $mainRed;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}

#searchMenuB {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-image: url('../search.png');
  background-size: cover;
  border: 3px solid $mainRed;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

#searchContainer {
  display: none;
  position: fixed;
  top: 70px;
  right: 20px;
  background-color: white;
  border: 3px solid $mainRed;
  border-radius: 5px;
  padding: 10px;
  z-index: 999;
  min-width: 50%;
  width:20em;
}

.show {
  display: block !important;
}




/*BETTER FOOTNOTES - CREDIT TO EstrellaYoshte, Woedenaz, and Placeholder McD*/
:root {
    --posX: calc(50% - 358px - 12rem);
    --fnTransition: 0.3s;
    --fnLinger: 0.15s;
    --fnInteract: calc(var(--fnTransition) + var(--fnLinger));
}
 
/*--- Footnote Auto-counter --*/
#main-content {
    counter-reset: megacount;
}
 
/*--- Footnote Superscript Number --*/
.fnnum {
    display: inline-block;
    width: max-content;
    text-indent: -0.475ex;
    vertical-align: super;
    line-height: 80%;
    word-break: initial;
    text-decoration: none;
    font-weight: bold;
    font-style: initial;
    color: transparent;
    position: relative;
    font-size: 80%;
    padding: .15em .05em;
    margin-right: -0.25em;
    counter-increment: megacount;
    -webkit-user-select: none;
    user-select: none;
}
.fnnum::after {
    content: "" counter(megacount);
    color: var(--fnColor, #E6283C);
}
.fnnum:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--fnColor, #E6283C);
}
.fnnum:hover::after { color: white; }
 
/*--- Footnote Content Wrapper --*/
.fncon {
    position: absolute;
    right: calc(var(--posX) + 80px);
    line-height: 1.25;
    padding: 0.8125rem;
    width: 12.5rem;
    box-sizing: border-box;
    background: white;
    border: .125rem solid black;
    font-size: .9125rem;
    font-weight: initial;
    font-style: normal;
    text-align: initial;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
    transition:
        opacity 0.15s linear var(--fnLinger),
        right var(--fnTransition) cubic-bezier(.08,.72,.5,.94) var(--fnLinger),
        visibility 0.01s linear var(--fnInteract);
}
.fnnum:hover + .fncon, .fncon:is(:hover,:focus-within) {
    opacity: 1;
    z-index: 10;
    right: var(--posX);
    visibility: visible;
    transition:
        opacity 0.15s linear,
        right var(--fnTransition) cubic-bezier(.08,.72,.5,.94);
}
 
.fncon::before {
    position: absolute;
    top: 0; left: 0;
    transform: translateX(-52%) translateY(-55%) scale(1.15);
    background-color: var(--fnColor, #E6283C);
    color: white;
    content: counter(megacount);
    font-size: initial;
    font-weight: bold;
    font-style: initial;
    padding: 0.18rem 0.32em 0.08rem;
}
 
/*--- Mobile Query --*/
@media only screen and (max-width: 1279px) {
    .fncon {
        position: fixed;
        bottom: 1.5rem;
        left: calc(15% - 50px);
        width: 70%;
        transition:
            opacity 0.15s linear var(--fnLinger),
            left var(--fnTransition) cubic-bezier(.08,.72,.5,.94) var(--fnLinger),
            visibility 0.01s linear var(--fnInteract);
    }
    .fnnum:hover + .fncon, .fncon:is(:hover,:focus-within) {
        left: 15%;
        transition:
            opacity 0.15s linear,
            left var(--fnTransition) cubic-bezier(.08,.72,.5,.94);
    }
}