ul {
  list-style: none;
  margin-left:70px;
  padding-left:10px;
  border-left:10px solid red;
}
li div::before {
  content:" ";
  display:inline-block;
  border:5px solid red;
  background-color:red;
  width:15px;
  height:15px;
  overflow:hidden;
  border-radius:50%;
  position: absolute;
  left:-40px;
  top:20px;
}
li div {display:inline-block;}
li span {
  display:inline-block;
  position:absolute;
  left:-80px;
  width: 50px;
}
li {
  position:relative;
  padding-top:0px;
}
li div h2 { padding-top:0; margin-top:0;}
