@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');
body {
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
body {margin:0 0 0 auto;}
a { 
  text-decoration:none;
  font-weight:bold;
  color:#BB0011;
}
a:hover {
  text-decoration:underline;
  color:#DD2233;
}
ul {
  list-style: none;
  margin-left:80px;
  padding-left:15px;
  margin-top:0;
  padding-top:40px;
  margin-bottom:0;
  padding-bottom:40px;
  border-left:10px solid #BB0011;
}
li div::before, li h2::before,li h1::before{
  content:" ";
  display:inline-block;
  border:5px solid #BB0011;
  background-color:#BB0011;
  width:15px;
  height:15px;
  overflow:hidden;
  border-radius:50%;
  position: absolute;
  left:-32.5px;
}
li h1::before {
  left: calc(-32.5px - 0.125em);
  top: 0.125em;
  width: calc(15px + 0.25em);
  height: calc(15px + 0.25em);
}
li h2::before {
  left: calc(-32.5px - 0.0625em);
  top: 0.15em;
  width: calc(15px + 0.125em);
  height: calc(15px + 0.125em);
}
li h3 { display:none; position:absolute;}
li div {display:inline-block;}
li div p {
  display:inline-block; 
  margin-top:0;
  min-height:3em;
}
li span {
  display:inline-block;
  position:absolute;
  left:-110px;
  text-align:right;
  width: 70px;
}
li {
  position:relative;
  padding-top:0px;
}
li h2 {
  display:inline-block;
  padding-top:0; margin-top:0;
}
li h1 {
  display:inline-block; 
  color:#990011;
  padding-top:0; margin-top:0;
}
li div h3 { 
  padding-top:0; margin-top:0;
  padding-bottom:2px; margin-bottom:2px;
}
.collapsible::before {
  content:"►";
  font-family: "Times New Roman";
  display:inline-block;
  overflow:hidden;
  position: absolute;
  left:-60px;
  top:10px;
}
.active::before {
  content: "▼";
}
li.active::after {
  display:none!important;
}
.content {
  display:none;
}
li.collapsible::after {
  content:" ";
  border-left:10px dashed #FFF;
  height:30px;
  display:block;
  position:relative;
  left:-25px;
  top:-10px;
}