ul {
  list-style: none;
  margin-left:70px;
  padding-left:15px;
  border-left:10px solid #BB0011;
}
li div::before {
  content:" ";
  display:inline-block;
  border:5px solid #BB0011;
  background-color:#BB0011;
  width:15px;
  height:15px;
  overflow:hidden;
  border-radius:50%;
  position: absolute;
  left:-32.5px;
}
li div {display:inline-block;}
li span {
  display:inline-block;
  position:absolute;
  left:-80px;
  width: 50px;
}
li {
  position:relative;
  padding-top:0px;
}
li h2 {display:inline-block;}
li h1 {display:inline-block; color:#BB0011;}
li div h3 { 
  padding-top:0; margin-top:0;
  padding-bottom:2px; margin-bottom:2px;
}
