ul {
  list-style: none;
  margin-left:70px;
  padding-left:10px;
  border-left:10px solid red;
}
li div::before {
  content:"•";
  display:inline-block;
  border:5px solid red;
  background-color:red;
  width:20px;
  height:20px;
  overflow:hidden;
  border-radius:50%;
  position: absolute;
  left:-20px;
  top:20px;
}
li div {display:inline-block;}
li span {
  display:inline-block;
  position:absolute;
  left:-60px;
  width: 30px;
}
li {position:relative;}
